* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

:root {
    
    --primary-color: #DBEBE9;   
    --secondary-color: #B8D9D6;     
    --accent1-color: #0D9488;      
    --text-on-dark: #fff;           
    --base-padding: 0.5rem;           
}

/* Default Body (Mobile First) */
body {
  margin: 0;
}

.web-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

.main-title {
    text-align: center;
}

.navbar {
    padding: 0.5rem 1rem;
	margin: 0 auto 2rem;
	max-width: 90vw;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}

main {
    width: 100%; 
    margin: 0; 
    padding: 1rem;
    grid-column: 2 / 3; 
    background-color: var(--primary-color);
}

.card {
  text-align: center; 
  padding: var(--base-padding);
}


article {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1.5rem;
    background-color: #fff;
    color: #555;
    border: 2px solid var(--secondary-color);
    padding: var(--base-padding);
    margin-top: 1rem;
    align-items: center;
    border-radius: 5px;
}

article img {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

article p {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  padding: var(--base-padding);
  margin: 1rem;
}

article.history-section {
    display: flex;             
    align-items: center;    
    gap: 20px;                 
    padding: var(--base-padding);
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.flag-img {
    width: 200px;             
    height: auto;
    flex-shrink: 0;            
    border: 1px solid #ddd;
}

article.history-section p {
    text-align: left;          
    margin: 0;                
    color: black;               
    line-height: 1.6;
}


/* -------------- */

.right-sidebar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: var(--base-padding);
    background-color: var(--secondary-color);
    grid-column: 3 / 4;
}

.resource-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.resource-list li {
    margin-bottom: 0.75rem; 
}


.resource-list a {
    display: block;          
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem;
    border-radius: 6px;
    font-weight: normal;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}


.resource-list a:hover {
    background-color: #095751;
    transform: translateY(-2px);

}

.resource-list a:active {
    transform: translateY(0);
}

.site-footer {
    grid-column: 1 / -1; 
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    padding: var(--base-padding);

}

