body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
    background-color: rgb(183, 228, 244);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: #777 1px solid;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1 / 3;
}

article p {
	text-align: justify;
}
.article, .item-list {
    margin: 0.5rem;
    box-sizing: border-box;
}
.list-title {
    text-align: left;
    margin-left: 2.5rem;
}
.callout {
	color: #fff;
	background-color: #702950;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    grid-column: 1 / 3;

}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}