@media screen and (min-width: 701px) {
    .container {
    grid-template-columns: 1fr 1fr;
  }
  .card-weather {
    background-color: var(--primary-color);
    opacity: 0.75;
    padding: 1rem;
    right: 10%;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: absolute;
    gap: .25rem;
}
}
