* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color:#F4F5F8 ;   
    --secondary-color: #A51931;     
    --accent1-color: #2D2A4A;      
    --text: #fff;           
    --base-padding: 0.5rem;           
}
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Barlow", sans-serif;
  margin: 0;
}
.web-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97px;
}

.logo {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    padding: 2rem;
    background-color: var(--secondary-color);
    text-align: center;
}
.page-title {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr
}
.hero {
  position: relative;
  grid-column: span 2;

}

.hero img {
  width: 100%;
  height: 100%;
  position: relative;
  backdrop-filter: brightness(60%);
  inset: 0;
}

.card {
    text-align: left;
    background-color: var(--primary-color);
    opacity: 0.75;
    padding: 1rem;
    left: 20%;
    top: 50%; 
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: absolute;
    gap: .25rem;
}
.data {
   text-align: center;
   padding: var(--base-padding);
   position: relative;
    color: var(--text);
   background-color: var(--accent1-color);
   top: -25px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 8px;
}
.info-item {
  display: grid;
  gap: 0.9rem;
  grid-template-columns: auto auto;
}

.label{
  text-align: left;
}
.value {
  font-weight: bold;
  text-align: right;
}

.card-weather {
    background-color: var(--primary-color);
    opacity: 0.75;
    padding: 1rem;
    right: 20%;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: absolute;
    gap: .25rem;
    top: 50%; 

}

.weather-temp,
.weather-wind,
.weather-humidity,
.weather-desc {
    text-align: right;
    font-weight: bold;
}
.weather-title {
   text-align: center;
   padding: var(--base-padding);
   position: relative;
   background-color: var(--accent1-color);
   color: var(--text);
   top: -25px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 8px;
   
}
.weather-icon {
    width: 40px;
    height: 40px;
}
.card,
.card-weather {
  transform: translateY(30%);
}

.site-footer { 
    background-color: var(--secondary-color);
    color: var(--text);
    text-align: center;
    padding: 2rem;
}
@media (max-width: 700px) {
   
    .container {
        grid-template-columns: 1fr;
    }

    .card,
    .card-weather {
        position: static;
        margin: 1rem auto;
        width: 500px;
        transform: translateY(0);
    }

    .hero {
        grid-column: span 1;
    }
  }