* {
	margin: 0;
	padding: 0;
}



body {
  display: grid;
  height: 100vh;
  font-family: acme, Arial, sans-serif;
  grid-template: auto 1fr auto / 300px 1fr auto;
}

h1 {
	text-align: left;
	background-color: #0D9488;
	padding: 0.5rem;
	color: #fff;
}

p {
	text-align: left;
}

nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
}

header {
  background: #0D9488;
  max-width: 100%;
  height: 100px;
  padding: 2rem;
  grid-column: 1 / 4;
}


main {
  margin: 1rem;
  padding: 1rem;
  background-color: #eee;
  grid-column: 1 / 3;
}

.right-sidebar {
  width: 300px;
  padding: 1rem;
  background: yellow;
  grid-column: 3 / 4;
}

.right-sidebar {
  padding: 1rem;
}

nav, p {
    padding: 8px;
    /* Use margin for space between elements */
    margin: 1rem 0; 
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #0D9488;
	align-items: center;
    
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
    font-size: 1.2rem;
    font-weight: 700;
	padding: 0.5rem;
	text-decoration: none;
	text-align: center;

}

.navigation a:hover {
	font-weight: 700;
	text-decoration: none;
	background-color: #095751;
    border-radius: 5%;
    transform: scale(1.2)
}

/* --- Footer Styling --- */

footer {
  display: grid;
  max-width: 100%;
  height: 100px;
  background: #0D9488;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.socialmedia {
    display: flex;
    padding: 5px;
    gap: .3125rem;
}
.socialmedia :hover {
    background-color: var(--text-on-dark);
    border-radius: 8px;
}

footer img {
  width: 30px;
  height: auto;
}