* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

:root {
    
    --primary-color: #DBEBE9;   
    --secondary-color: #B8D9D6;     
    --accent1-color: #0D9488;      
    --text-on-dark: #fff;           
    --base-padding: 0.5rem;           
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.web-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.navbar {
    padding: 0.5rem 1rem;

}


.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}


.nav-list a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #222;
    font-weight: 600;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✕";
    font-weight: 600;
}

.logo.hide {
    display: none;
}

.container {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
   
}
.page-title {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}
.temple-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    text-align: center;
}
.card {
  margin: 0;
  text-align: center;
}
.card img {
    width: 100%;
    height: 250px;      
    object-fit: cover;   
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.card figcaption {
    margin-top: 0.5rem;
    font-weight: 500;
    color: #555;
    font-size: 0.9rem; 
    line-height: 1.3;
}


.site-footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
}


@media (max-width: 600px) {
    .nav-list {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-color);
        padding: 1rem;
    }

    .nav-list.open {
        display: flex;
        text-align: center;
    }    
    .card img { 
        width: 100%; 
        margin: 0 auto; 
        object-fit: cover;
    }
    .temple-gallery {
        grid-template-columns: 1fr;
    }

}
